*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}

.light-text {
    color: #FFF8F0;
}

.mid-text {
    color: #949a9d;
}

.dark-text {
    color: #222222;
}

.light-bg {
    background-color: #FFF8F0;
}

a {
    color: #0A558F;
    text-decoration: none;
}

.blue-bg {
    background-color: #0A558F;
}

.light-blue-bg {
    background-color: #0683AC;
}

.yellow-bg {
    background-color: #D4AF40;
}

body {
    margin: 0;
    display: flex;
    overflow: auto;
}

nav {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    width: 200px;
    overflow: hidden;
}

nav figure {
    margin-left: 22%;
    margin-right: 22%;
}

nav img {
    width: 100%;
    border-radius: 50%;
    border-color: #D4AF40;
    border-style: solid;
    border-width: 3px;
}

nav figcaption {
    text-align: center;
    padding-top: 10px;
    font-size: 14px;
}

nav label {
    opacity: 70%;
    margin: 6px;
    margin-left: 14px;
    font-size: 12px;
}

nav > section{
    border-top-style: solid;
    border-color: rgba(255, 255, 255, 0.1);
    padding-top: 12px;
    padding-bottom: 24px;
    display: flex;
    flex-direction: column;
}

nav button {
    background-color: transparent;
    border-style: none;
    display: flex;
    gap: 16px;
    align-items: center;
    text-transform: uppercase;
    height: 40px;
    padding-left: 12px;
    font-size: 12px;
    border-left-style: solid;
    border-width: 4px;
    border-left-color: transparent;
}

i {
    font-size: 20px;
}

.nav-button-selected {
    border-color: #D41C2B;
    border-left-style: solid;
    border-width: 4px;
}

nav button:hover {
    background-color: #0683AC;
    cursor: pointer;
}

.trim {
    width: 6px;
    border-color: #222222;
    border-left-style: solid;
    border-right-style: solid;
    border-width: 1px;
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: #e6dfd8;
}

.search-area {
    display: flex;
    flex-shrink: 0;
    height: 80px;
    border-bottom-style: solid;
    border-color: #222222;
    border-width: 1px;
}

.search-area input {
    flex-grow: 1;
    padding-left: 1vw;
    border-style: none;
    outline: none;
    font-size: 16px;
    font-weight: 100;
}

.input-icon {
    padding-left: 1vw;
    display: flex;
    align-items: center;
}

.search-area-button {
    width: 80px;
    border-style: none;
}

.left-border {
    border-left-style: solid;
    border-left-color: #222222;
    border-width: 1px;
}

.card-header {
    display: flex;
    padding: 40px 40px 35px 40px;
    justify-content: space-between;
    align-items: center;
}

.card-header-img {
    height: 120px;
}

h1 {
    font-size: 28px;
}

h3 {
    font-size: 16px;
}

h1, h3 {
    font-weight: 400;
    margin: 0;
}

.card-header-buttons {
    display: flex;
    gap: 18px;
    justify-content: end;
}

.card-header button, .divider-button {
    height: 36px;
    width: 36px;
    border-radius: 18px;
    border-style: solid;
    border-width: 1px;
    border-color: #222222;
    font-size: 16px;
}

main button:hover {
    background-color: #949a9d;
    cursor: pointer;
}

.card-header span {
    font-size: 14px;
    font-weight: bold;
}

.card-header .button-large {
    width: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.tab-strip {
    display: flex;
    gap: 50px;
    height: 55px;
    padding-left: 40px;
}

.tab-button {
    background-color: transparent;
    font-weight: bold;
    font-size: 13px;
    padding: 0;
    border-style: none;
}

.tab-button:hover {
    background-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    padding-top: 3px;
    border-color: #0A558F;
}

.tab-button-selected {
    border-bottom-style: solid;
    border-bottom-width: 3px;
    padding-top: 3px;
    border-color: #0A558F;
}

.stats {
    padding: 45px;
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
}

.pies {
    display: flex;
    gap: 30px;
}

.pie-wrapper{
    margin: 0px;
}

.pies-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.bar-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
    gap: 10px;
}

#myChart{
    width: 360px;
}

.data-label {
    display: flex;
    align-items: center;
    height: 38px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 19px;
    border-style: solid;
    border-color: #22222270;
    font-size: 12px;
    font-weight: 700;
}

.divider {
    height: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    gap: 6px;
}

.line {
    height: 2px;
    background-color: #222222;
    flex-grow: 1;
}

.bottom-info {
    padding: 40px;
    flex-shrink: 0;
    display: flex;
    gap: 55px;
    height: 1000px;
}

.description {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border-radius: 4px;
    overflow: hidden;
}

.description-header {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 35px;
    height: 75px;
}

.description-header p {
    font-size: 14px;
    font-weight: bold;
}

.description-header button{
    border-style: none;
    height: 32px;
    width: 70px;
    font-size: 14px;
    font-weight: bold;
}

table {
    border-collapse: collapse;
    margin-left: 30px;
    margin-right: 30px;
}

tr {
    height: 75px;
    border-bottom-style: solid;
    border-bottom-color: #222222;
    border-width: 1px;
}

.col1 {
    font-weight: bold;
    width: 142px;
    font-size: 13px;
}

.social {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 275px;
}

.social-button {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    height: 50px;
    border-style: none;
    border-radius: 4px;
    font-size: 24px;
}

.social button span {
    font-size: 14px;
    font-weight: bold;
    margin: auto;
}
