*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}

body {
    margin: 0;
    display: flex;
    height: 100vh;
}

nav {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    background-color: #0A558F;
    width: 200px;
    overflow: hidden;
}

nav figure {
    margin-left: 18%;
    margin-right: 18%;
}

nav img {
    width: 100%;
    border-radius: 50%;
    border-color: #D4AF40;
    border-style: solid;
    border-width: 3px;
}

nav figcaption {
    color: #F2F2F2;
    text-align: center;
    padding-top: 10px;
    font-size: 14px;
}

nav label {
    color: rgba(255, 255, 255, 0.7);
    margin: 6px;
    margin-left: 14px;
}

nav > section{
    border-top-style: solid;
    border-color: rgba(255, 255, 255, 0.1);
    padding-top: 12px;
    padding-bottom: 12px;
    display: flex;
    flex-direction: column;
}

nav button {
    background-color: rgba(0, 0, 0, 0);
    border-style: none;
    color: #F2F2F2;
    display: flex;
    gap: 1.2vw;
    align-items: center;
    text-transform: uppercase;
    height: 36px;
    padding-left: 1vw;
    border-left-style: solid;
    border-width: 4px;
    border-color: rgba(0, 0, 0, 0);
}

i {
    font-size: 24px;
}

.nav-button-selected {
    background-color: #0683AC;
    border-color: #D41C2B;
}

button:hover {
    background-color: #0683AC;
    cursor: pointer;
}

.trim {
    width: 6px;
    background-color: #D4AF40;
    border-color: #222222;
    border-left-style: solid;
    border-right-style: solid;
    border-width: 1px;
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: #D0BFB4;
}

.search-area {
    display: flex;
    flex-shrink: 0;
    background-color: #F2F2F2;
    height: 80px;
    border-bottom-style: solid;
    border-color: #222222;
    border-width: 1px;
}

.search-area input {
    flex-grow: 1;
    padding-left: 1vw;
    border-style: none;
    outline: none;
    font-size: larger;
    font-weight: 100;
    background-color: #F2F2F2;
}

.input-icon {
    background-color: #F2F2F2;
    padding-left: 1vw;
    display: flex;
    align-items: center;
}

main section button {
    color: #222222;
    width: 80px;
    border-style: none;
    background-color: #F2F2F2;
}

.left-border {
    border-left-style: solid;
    border-left-color: #222222;
    border-width: 1px;
}

.card-header {
    background-color: #F2F2F2;
    display: flex;
    padding: 40px 40px 35px 40px;
    justify-content: space-between;
    align-items: center;
}

.card-header-img {
    height: 200px;
}

h1 {
    font-size: 28px;
}

h3 {
    font-size: 16px;
}

h1, h3 {
    font-weight: 400;
    margin: 0;
}

.card-header-buttons {
    display: flex;
    gap: 18px;
    justify-content: end;
}

.card-header button {
    color: #222222;
    height: 36px;
    width: 36px;
    border-radius: 18px;
    border-style: solid;
    border-width: 1px;
    border-color: #222222;
    font-size: 16px;
}

.card-header button:hover {
    background-color: #0683AC;
}

.card-header span {
    font-size: 14px;
    font-weight: bold;
}

.card-header .button-large {
    width: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.tab-strip {
    background-color: #F2F2F2;
    display: flex;
    gap: 50px;
    height: 55px;
    padding-left: 4vw;
}

.tab-button {
    color: #22222270;
    background-color: transparent;
    font-weight: bold;
    font-size: 12px;
    width: auto;
    padding: 0;
}

.tab-button:hover {
    background-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    padding-top: 3px;
    border-color: #0A558F;
}

.tab-button-selected {
    color: #222222;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    padding-top: 3px;
    border-color: #0A558F;
}

.stats {
    padding: 45px;
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
}

.pies {
    display: flex;
    gap: 30px;
}

.pie-wrapper{
    margin: 0px;
}

.pies-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.bar-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
    gap: 10px;
}

#myChart{
    width: 360px;
}

.data-label {
    display: flex;
    color: #222222;
    align-items: center;
    height: 38px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #F2F2F290;
    border-radius: 19px;
    border-style: solid;
    border-color: #22222270;
    font-size: 12px;
    font-weight: 700;
}
