*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
    display: flex;
    height: 100vh;
}

nav {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    background-color: #0A558F;
    width: 200px;
    overflow: auto;
}

nav figure {
    margin: 15%;
}

nav img {
    width: 100%;
    border-radius: 50%;
    border-color: #D4AF40;
    border-style: solid;
    border-width: 3px;
}

nav figcaption {
    color: #F2F2F2;
    text-align: center;
    padding-top: 10px;
}

nav label {
    color: rgba(255, 255, 255, 0.7);
    margin: 6px;
    margin-left: 14px;
}

nav > section{
    border-top-style: solid;
    border-color: rgba(255, 255, 255, 0.1);
    padding-top: 12px;
    padding-bottom: 12px;
    display: flex;
    flex-direction: column;
}

nav button {
    background-color: rgba(0, 0, 0, 0);
    border-style: none;
    color: #F2F2F2;
    display: flex;
    gap: 1.2vw;
    align-items: center;
    text-transform: uppercase;
    height: 36px;
    padding-left: 1vw;
    border-left-style: solid;
    border-width: 4px;
    border-color: rgba(0, 0, 0, 0);
}

i {
    font-size: 24px;
}

.nav-button-selected {
    background-color: #0683AC;
    border-color: #D41C2B;
}

button:hover {
    background-color: #0683AC;
    cursor: pointer;
}

.trim {
    width: 6px;
    background-color: #D4AF40;
    border-color: #222222;
    border-left-style: solid;
    border-right-style: solid;
    border-width: 1px;
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: #D0BFB4;
}

.search-area {
    display: flex;
    background-color: #F2F2F2;
    height: 60px;
    border-bottom-style: solid;
    border-color: #222222;
    border-width: 1px;
}

.search-area input {
    flex-grow: 1;
    padding-left: 1vw;
    border-style: none;
    outline: none;
    font-size: larger;
    font-weight: 100;
    background-color: #F2F2F2;
}

.input-icon {
    background-color: #F2F2F2;
    padding-left: 1vw;
    display: flex;
    align-items: center;
}

main section button {
    color: #222222;
    width: 65px;
    border-style: none;
    background-color: #F2F2F2;
}

.left-border {
    border-left-style: solid;
    border-left-color: #222222;
    border-width: 1px;
}

.card-header {
    display: flex;
    padding: 4vw;
    justify-content: space-between;
    align-items: center;
}

h1, h3 {
    font-weight: 500;
    margin: 0;
}

.card-header-buttons {
    display: flex;
    gap: 0.5vw;
    justify-content: end;
}

.card-header button {
    color: #222222;
    height: 34px;
    width: 34px;
    border-radius: 17px;
    border-style: solid;
    border-width: 1px;
    border-color: #222222;
    font-size: 17px;
}

.card-header button:hover {
    background-color: #0683AC;
}

.card-header span {
    font-size: 14px;
    font-weight: bold;
}

.card-header .button-large {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.tab-strip {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 40px;
}
